{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "gsap/ScrollTrigger": "gsap/ScrollTrigger.js"
        }
      }
    ]
  ]
}
